@use "../utils" as *;
@use "../base" as *;
.cards {
  padding: $default-padding;
  img {
    cursor: pointer;
  }

  gap: 2rem;

  &--btn {
    @include flexible($justify: center, $items: flex-start);

    button {
      transition: all 0.25s ease-in-out;

      @include btn;
      padding: $pad-xl;
      border-radius: $default-rad;
      &:hover {
        opacity: 0.8;
      }
    }
    grid-column: 1/-1;
  }
  &--card {
    border: 1px solid $gray;
    padding: $pad-sm;
    border-radius: $default-rad;
    transition: all 0.25s ease-in-out;
    width: 100%;

    h2 span {
      cursor: pointer;
      position: relative;
      // display: inline-block;
      @include underlineAnimation;
    }

    &:hover {
      border-color: $blue;
    }

    button {
      @include postBtn;
    }

    &__content {
      @include flexible(
        $direction: column,
        $justify: center,
        $gap: 0.5rem,
        $items: start
      );

      div {
        @include flexible($justify: center, $items: center, $gap: 0.5rem);
      }
      img {
        border-radius: $default-rad;
        height: 2rem;
        width: 2rem;
      }
    }

    &__img {
      img {
        border-radius: $default-rad;
        object-fit: cover;
        width: 100%;
        height: 20rem;
      }
    }
  }
}
