.lifestyle {
  background-color: #dbdfff;
  border: 1px solid #dbdfff;
}

.health {
  background-color: #d2f2d5;
  border: 1px solid #d2f2d5;
}

.tech {
  background-color: #fdf2e6;
  border: 1px solid #fdf2e6;
}

.travel {
  background-color: #fce6f3;
  border: 1px solid #fce6f3;
}

.ins {
  background-color: #e5f8fe;
  border: 1px solid #e5f8fe;
}

.food {
  background-color: #f0d8f9;
  border: 1px solid #f0d8f9;
}
